@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


/* ------------------------------
GENERAL
------------------------------ */

body {
	margin: 0;
	padding: 0;
	background: #fafafa;
	color: #44413e;
	font-size: 16px;
	line-height: 1.6em;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2 {font-size: 24px; margin: 0 0 10px; font-weight: normal; font-family: 'Varela', sans-serif;}
h3 {margin: 0 0 10px; font-size: 20px; font-weight: 600; color: #0e2e52;}
h4 {margin: 0 0 5px; font-size: 26px; font-weight: 400; color: #333;}
h5 {margin: 0 0 5px; font-size: 17px; font-weight: 600; color: #0e2e52;}
main p, main ul {font-size: 14px; margin: 0 0 15px;}
main ul {margin-bottom: 10px;}
img {max-width: 100%;}
a, a:link, a:visited, a:active {color: #235fb2; text-decoration: none; transition: all .5s ease;}
a:hover {color: #3581ec; text-decoration: none;}
::-moz-selection {background-color: #235fb2; color: #ffffff;}
::selection {background-color: #235fb2; color: #ffffff;}
a.btn-primary, .btn-primary, .badge-primary {background: #235fb2; color: #fff; border-color: #1d54a1;}
.btn-secondary {background: #0e2e52; color: #fff; border-color: #0a2544;}

/* ------------------------------
HEADER
------------------------------ */

.bcs-header {
	height: 60px;
	padding: 0;
	background: #0e2e52;
	color: #f6f6f6;
}

.navbar {
	padding: 0;
	height: 100%;
}

.navbar-brand {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding: 10px;
	width: 280px;
	height: 100%;
	background: #111111;
	text-align: center;
}

.header-logo {
	height: 100%;
	width: auto;
}

.navbar-nav {background: #0e2e52;}
.navbar-links {padding-left: 20px;}
.navbar-icons {padding-right: 20px;}
.nav-item a, .navbar-dark .navbar-nav .nav-link {display: inline-block; color: #eeeeee; font-size: 16px; font-weight: 400; opacity: .9;}
.navbar-nav {background: #0e2e52;}
.navbar-dark .navbar-nav .nav-link.current, .dropdown-item.current {color: #ffffff; background: #051220; opacity: 1; border-radius: .25rem;}
.navbar-expand-lg .navbar-nav .nav-link {padding-right: .75rem; padding-left: .75rem;}
.navbar-dark .navbar-toggler {margin-right: 15px; color: #eee; padding: .5rem; font-size: 1rem;}
.navbar-icons .nav-item a {padding: 0 5px;}
.nav-item a img {width: 28px;}
.nav-item a:hover, .navbar-dark .navbar-nav .nav-link:hover {color: #ffffff; opacity: 1; text-decoration: underline;}
.navbar-nav .dropdown-menu {background: #0e2e52;}
.dropdown-item:focus, .dropdown-item:hover {background: #111;}

/* ------------------------------
CONTENT
------------------------------ */

.bcs-content {
	display: flex;
	min-height: calc(100vh - 60px);
	flex-grow: 1;
	justify-content: space-between;
}

/* --- SIDE ---- */

.bcs-sidebar {
	width: 280px;
	min-height: 100%;
	padding: 0 20px;
	background:#ffffff;
	box-shadow: 1px 1px 5px rgba(0,0,0,.05);
}

.bcs-title {
	margin: 15px 0 0;
	height: 30px;
	font-size: 22px;
}

.nav-tabs {border-bottom: none; margin: 0 0 10px;}
.tab-content {height: calc(100% - 105px);}
.tab-pane {height: 100%;}
.nav-tabs .nav-item {width: 50%;}

.nav-tabs .nav-item .nav-link {
	padding: 10px 0 0;
	height: 45px;
	width: 100%;
	color: #999;
	font-size: 15px;
	text-align: center;
	border-radius: 0;
	border: none;
	border-bottom: solid 3px #dee2e6;
}

.nav-tabs .nav-link.active {
	color: #235fb2;
	border-bottom: solid 3px #235fb2;
}

.bcs-course-list {
	padding: 0;
	max-height: 100%;
	list-style: none;
	overflow-y: auto;
}

.bcs-course-list li a {display: block; padding: 12px 10px; color: #44413e;}
.bcs-course-list li a:hover {color: #235fb2;}
.bcs-course-list li:not(:last-child) {border-bottom: solid 1px #eeeeee;}
.bcs-course-list li.active a {background: #ebf0f8;}
.bcs-course-list li.past a {opacity: .5;}
.bcs-course-list li h3 {margin: 0 0 5px; font-size: 16px; font-weight: 600;}
.bcs-course-list li p {margin: 0; color: #666666; font-size: 10px; line-height: 1em;}

/* --- Version B ---- */

.sidebar02 {
	display: flex;
	flex-flow: nowrap column;
	padding: 0;
	background: #f6f6f6 url(../images/bg-sidebar.png) center top no-repeat;
	box-sizing: border-box;
}

.bcs-classbox {
	padding: 10px 20px 25px;
	background: #dddddd;
	text-align: center;
}

.bcs-classbox h2 {
	margin-bottom: 10px;
}

/* --- MAIN ---- */

.bcs-index02 {height: auto; min-height: calc(100vh - 60px);}
main {flex-grow: 1;}
.bcs-content main {padding: 15px;}

.bcs-content .bcs-main {display: flex; flex-flow: nowrap column; width: calc(100% - 280px); padding: 30px 30px 0;}
.bcs-main .container {margin-left: 0;}
.bcs-row {margin-bottom: 30px;}
.bcs-title-with-nav {display: flex; flex-direction: row; margin-bottom: 10px; justify-content: space-between; align-items: center;}
.bcs-title-with-nav .btn {min-width: 30px; margin-left: 10px;}
.bcs-main .bcs-title-with-nav h3 {margin: 0;}
.card {margin-bottom: 20px;}
.card a, .card a .card-body {transition: all .5s ease; border-radius: .25rem;}
.card a:hover {background: #f5f7fb; box-shadow: 1px 1px 10px rgba(0,0,0,.15);}
.card-title {margin-bottom: .25rem; font-weight: 600;}
.card-text {font-size: 12px;}
.col-border-left {border-left: solid 1px #ddd;}
.bcs-class-heading {margin: 20px 0; padding: 20px 0 0; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd;}
.breadcrumb-item {font-size: 13px;}
.bcs-video-wrapper {padding: 15px;}
.bcs-video-wrapper h5 {margin-top: 10px;}
.bcs-video-wrapper h5 {margin-top: 10px;}
.bcs-class-info {padding-right: 30px;}
.bcs-class-info .bcs-session-title {margin-top: 10px;}
.bcs-class-desc p, .bcs-class-info li {font-size: 15px; line-height: 1.4em;}
.bcs-btn-group {margin: 20px 0; padding-bottom: 10px;}
.bcs-btn-group .btn {margin-right: 10px;}
.card-grade {text-align: center;}
.card-grade .card-text {padding-top: 5px; font-size: 26px;}
.bcs-grade-box {padding: 15px;}
.bcs-grade-img {width: 100px; margin-right: 20px;}
.bcs-grade-comment {
	background: #ffffff;
	max-height: 460px;
	padding: 15px;
	overflow-y: auto;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.bcs-terms {text-align: center; }
.bcs-top-border {margin-top: 30px; padding-top: 20px; border-top: solid 1px #dddddd;}

/* ------------------------------
MEDIA QUERIES
------------------------------ */

@media screen and (max-width: 1199px) {
	.col-border-left {border-left: none;}
	.bcs-grade-box {padding: 15px 0;}
}


@media screen and (max-width: 1140px) {
	.bcs-content .bcs-main {padding: 30px 15px 0;}
	.bcs-main h3 {font-size: 18px;}
	.col-border-left {border-left: none;}
}

@media screen and (max-width: 991px) {
	.navbar-collapse {z-index: 1;}
	.navbar-nav.navbar-icons {flex-direction: row; padding: 15px 20px;}
	.dropdown-menu {margin-right: 20px;}
}

@media screen and (max-width: 768px) {
	.bcs-content {flex-direction: column;}
	.bcs-content .bcs-main {width: 100%; padding: 15px;}
	.sidebar02 {width: 100%;}

}

@media screen and (max-width: 576px) {
	.bcs-video-wrapper {padding: 15px 0;}
	.bcs-btn-group .btn {width: 100%; margin-right: 0; margin-bottom: 10px;}

}
