@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


/* ------------------------------
GENERAL
------------------------------ */

body {
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	color: #44413e;
	font-size: 16px;
	line-height: 1.6em;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2 {font-size: 24px; margin: 0 0 10px; font-weight: normal; font-family: 'Varela', sans-serif;}
h3 {margin: 0 0 10px; font-size: 20px; font-weight: 600; color: #0e2e52;}
img {max-width: 100%;}
a, a:link, a:visited, a:active {color: #235fb2; text-decoration: none; transition: all .5s ease;}
a:hover {color: #3581ec; text-decoration: none;}
::-moz-selection {background-color: #235fb2; color: #ffffff;}
::selection {background-color: #235fb2; color: #ffffff;}
a.btn-primary {background: #235fb2; color: #fff; border-color: #1d54a1;}

/* ------------------------------
HEADER
------------------------------ */

.bcs-header {
	height: 60px;
	padding: 0;
	background: #0e2e52;
	color: #f6f6f6;
}

.navbar {
	padding: 0;
	height: 100%;
}

.navbar-brand {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding: 10px;
	width: 280px;
	height: 100%;
	background: #111111;
	text-align: center;
}

.header-logo {
	height: 100%;
	width: auto;
}

.navbar-nav {background: #0e2e52;}
.navbar-links {padding-left: 20px;}
.navbar-icons {padding-right: 20px;}
.nav-item a, .navbar-dark .navbar-nav .nav-link {display: inline-block; color: #eeeeee; font-weight: 400; opacity: .85;}
.navbar-dark .navbar-toggler {margin-right: 15px; color: #eee; padding: .5rem; font-size: 1rem;}
.navbar-icons .nav-item a {padding: 0 5px;}
.nav-item a img {width: 28px;}
.nav-item a:hover, .navbar-dark .navbar-nav .nav-link:hover {color: #ffffff; opacity: 1;}
.navbar-nav .dropdown-menu {background: #0e2e52;}
.dropdown-item:focus, .dropdown-item:hover {background: #111;}

/* ------------------------------
CONTENT
------------------------------ */

.bcs-content {
	display: flex;
	height: calc(100vh - 60px);
	flex-grow: 1;
	justify-content: space-between;
}

/* --- SIDE ---- */

.bcs-sidebar {
	width: 280px;
	min-height: 100%;
	padding: 0 20px;
	background:#ffffff;
	box-shadow: 1px 1px 5px rgba(0,0,0,.05);
}

.bcs-title {
	margin: 15px 0 0;
	height: 30px;
	font-size: 22px;
}

.nav-tabs {border-bottom: none; margin: 0 0 10px;}
.tab-content {height: calc(100% - 105px);}
.tab-pane {height: 100%;}
.nav-tabs .nav-item {width: 50%;}

.nav-tabs .nav-item .nav-link {
	padding: 10px 0 0;
	height: 45px;
	width: 100%;
	color: #999;
	font-size: 15px;
	text-align: center;
	border-radius: 0;
	border: none;
	border-bottom: solid 3px #dee2e6;
}

.nav-tabs .nav-link.active {
	color: #235fb2;
	border-bottom: solid 3px #235fb2;
}

.bcs-course-list {
	padding: 0;
	max-height: 100%;
	list-style: none;
	overflow-y: auto;
}

.bcs-course-list li a {display: block; padding: 12px 10px; color: #44413e;}
.bcs-course-list li a:hover {color: #235fb2;}
.bcs-course-list li:not(:last-child) {border-bottom: solid 1px #eeeeee;}
.bcs-course-list li.active a {background: #f3f6fa;}
.bcs-course-list li.past a {opacity: .5;}
.bcs-course-list li h3 {margin: 0 0 5px; font-size: 16px; font-weight: 600;}
.bcs-course-list li p {margin: 0; color: #666666; font-size: 10px; line-height: 1em;}

/* --- Version B ---- */

.sidebar02 {
	padding: 0;
	box-sizing: border-box;
}

.bcs-classbox {
	padding: 10px 20px 25px;
	background: #dddddd;
	text-align: center;
}

.bcs-classbox h2 {
	margin-bottom: 10px;
}


/* --- MAIN ---- */

main {flex-grow: 1;}
.bcs-content main {padding: 15px;}

.bcs-content .bcs-main {width: calc(100% - 280px); padding: 30px 60px 0 30px;}
.bcs-main .container {margin-left: 0;}
.bcs-row {margin-bottom: 30px;}
.bcs-main h3 {margin: 0 0 15px;}
.card-title {margin-bottom: .25rem; font-weight: 600;}
.card-text {font-size: 12px;}


/* ------------------------------
MEDIA QUERIES
------------------------------ */

@media screen and (max-width: 991px) {
	.navbar-collapse {z-index: 1;}
	.navbar-nav.navbar-icons {flex-direction: row; padding: 15px 20px;}
	.dropdown-menu {margin-right: 20px;}
}

@media screen and (max-width: 768px) {

}
